body{
    font-family: "Poppins", sans-serif;
    display: flex;
    background: black;
    opacity: 0.6;
    min-height: 100vh;
    margin: 50px;
    flex-direction: column;
}
h2,p{
    color: white;
    font-size: 2rem;

}
h1{
    font-size: 5rem;
    color: white;
}
.main{
    flex: 1;
}
.logo{
    width: 150px;
    height: 150px;
}
img{
    float: left;
    height: 200px;
    margin-right: 50px;
}
footer>p{
    text-align: right;
    color: red;
}
.dream{
    color: #d3fa60;
}
.card{
    width: 45%;
}
.left{
    float: left;

}
.right{
    float: right;
}
@media(max-width:680px){
    .logo{
        width: 100px;
    }
    h1{
        font-size: 3rem;
        text-align: center;
    }
    .card {
        width: 100%;
        display: block;
        margin-bottom: 30px;
        text-align: justify;
      }
    
    .card img {
        margin-bottom: 10px;
        width: 100%;
        display: inline;
        object-fit: cover;
    }
}